// Welcome
$font1: 'Fira Sans',
sans-serif;
$font2: 'Montserrat',
sans-serif;
$wys1:6vw;
$wys2:8vw;
$wys3:10vw;
$wys1-min:50px;
$wys2-min:60px;
$wys3-min:80px;
$background-color:linear-gradient(110deg, rgb(20, 0, 0), rgb(70, 0, 0), rgb(32, 0, 0), rgb(0, 0, 0));
$accent-color: #b71c1c;
$hexagons: url("/Project/Webapp/assets/images/customSVG/hexagons.svg") fixed;
$hexagon-clip-path:polygon(75% 0,
100% 50%,
75% 100%,
25% 100%,
0 50%,
25% 0); // content:
// 
// 
// 
* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color: rgb(70, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: lighten(rgb(70, 0, 0), 8);
    border-radius: 9px;
}

body {
    background: $background-color;
    color: seashell;
    font-family: $font2;
}

a {
    color: seashell;
    text-decoration: none;
}

img.round {
    border-radius: 50%;
}

@function sqrt($r) {
    $x0: 1;
    $x1: $x0;
    @for $i from 1 through 10 {
        $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
        $x0: $x1;
    }
    @return $x1;
}

img.logo:not(.round) {
    clip-path: $hexagon-clip-path;
    $width: 210px;
    height: ($width* sqrt(3) /2);
    width: $width;
}

// clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
// #region header
header {
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 1vw;
    nav {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: visible;
        ul {
            width: 100%;
            a {
                background-color: silver;
                width: 23%;
                height: $wys2;
                min-height: $wys2-min;
                position: absolute;
                box-sizing: border-box;
                clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
                div {
                    background-color: lighten($color: #000000, $amount: 12);
                    position: relative;
                    box-sizing: border-box;
                    padding: 10px;
                    width: 94%;
                    height: 96%;
                    top: 0;
                    left: 3%;
                    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
                    span {
                        font-family: $font1;
                        font-size: 1.8em;
                        box-sizing: border-box;
                        position: absolute;
                        width: fit-content;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        i {
                            font-size: 1.2em !important;
                            position: relative;
                            transform: translateY(18%);
                        }
                    }
                }
                &:nth-child(1) {
                    // background-color: red;
                    z-index: 1;
                    width: 18%;
                    height: $wys1;
                    min-height: $wys1-min;
                    left: 0;
                }
                &:nth-child(2) {
                    // background-color: green;
                    z-index: 2;
                    left: 15%;
                    font-size: 1.2em;
                }
                &:nth-child(3) {
                    // background-color: blue;
                    z-index: 2;
                    right: 15%;
                    font-size: 1.2em;
                }
                &:nth-child(4) {
                    // background-color: yellow;
                    z-index: 1;
                    width: 18%;
                    height: $wys1;
                    min-height: $wys1-min;
                    right: 0;
                }
                &:hover {
                    // z-index: 4;
                    background-color: #b71c1c;
                }
            }
        }
    }
    div.logo {
        background-color: silver;
        width: 30%;
        z-index: 3;
        height: $wys3;
        min-height: $wys3-min;
        position: absolute;
        box-sizing: border-box;
        clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
        left: 50%;
        transform: translateX(-50%);
        div {
            background-color: lighten($color: #000000, $amount: 12);
            position: relative;
            box-sizing: border-box;
            padding: 10px;
            width: 94%;
            height: 94%;
            top: 3%;
            left: 3%;
            clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
            top: 0;
            overflow: hidden;
            h1 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 3.4em;
                transition: top 0.6s cubic-bezier(0.48, -0.25, 0.57, 1.35);
            }
            img {
                position: absolute;
                top: -150%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: top 0.6s cubic-bezier(0.48, -0.25, 0.57, 1.35);
                height: 7vw;
                width: 7vw;
            }
            &:hover {
                h1 {
                    // transform: translate(-50%, 130%);
                    top: 180%;
                }
                img {
                    // transform: translate(-50%, -50%);
                    top: 50%;
                }
            }
        }
        &:hover {
            background-color: #b71c1c;
        }
    }
} // #endregion
// #region old header
// header {
//     font-family: $font1;
//     width: 100%;
//     box-sizing: border-box;
//     padding: 3px;
//     div {
//         position: relative;
//         left: 50%;
//         transform: translateX(-50%);
//         z-index: 2;
//         width: fit-content;
//         h1{
//             margin: 2px 10px;
//             display: inline-block;
//             text-align: center;
//             font-size: 3em;
//             line-height: 100%;
//             vertical-align: middle;
//         }
//         img{
//             display: inline-block;
//             transition: transform 500ms ease;
//             &:hover {
//                 transform: scale(1.2) translate(-50%, 10px);
//             }
//         }
//     }
// }
// nav {
//     font-family: $font1;
//     z-index: 1;
//     position: sticky;
//     top: 0;
//     width: 100%;
//     background-color: rgb(58, 58, 58);
//     padding: 5px;
//     box-sizing: border-box;
//     ul {
//         width: 100%; // min-height: 50px;
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: row;
//         flex-wrap: wrap;
//         li {
//             border-right: seashell 1px solid;
//             border-left: seashell 1px solid;
//             width: 18%;
//             min-width: fit-content;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             transition: background-color 0.2s ease-in-out;
//             a {
//                 box-sizing: border-box;
//                 padding: 10px;
//                 text-align: center;
//                 width: 100%;
//                 height: 100%;
//             }
//             &:hover {
//                 background-color: rgba(255, 0, 0, 0.2);
//             }
//         }
//     }
// }
// #endregion
// HEXAGON PATH:
// clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
main {
    background: $hexagons;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10%;
    padding-top: $wys3;
    .intro {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
        margin-bottom: 20px;
        padding: 120px 10px;
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
        border-radius: 30px;
    }
    .element {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
        margin: 10px;
        margin-bottom: 20px;
        padding: 120px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;
        div {
            margin: auto, 10px;
            max-width: 900px;
        }
        h1 {
            font-size: 3em;
            min-width: 20%;
            margin-bottom: 12px;
        }
        img {
            margin: 7px;
        }
        &:nth-child(even) {
            h1 {
                order: 1;
            }
            img {
                order: 2;
            }
        }
    }
}