* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background-color: #460000;
}

body::-webkit-scrollbar-thumb {
  background-color: #6f0000;
  border-radius: 9px;
}

body {
  background: linear-gradient(110deg, #140000, #460000, #200000, black);
  color: seashell;
  font-family: "Montserrat", sans-serif;
}

a {
  color: seashell;
  text-decoration: none;
}

img.round {
  border-radius: 50%;
}

img.logo:not(.round) {
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
          clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  height: 86.60254px;
  width: 100px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 1vw;
}

header nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: visible;
}

header nav ul {
  width: 100%;
}

header nav ul a {
  background-color: silver;
  width: 23%;
  height: 8vw;
  min-height: 60px;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

header nav ul a div {
  background-color: #1f1f1f;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 94%;
  height: 96%;
  top: 0;
  left: 3%;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

header nav ul a div span {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header nav ul a div span i {
  font-size: 1.2em !important;
  position: relative;
  -webkit-transform: translateY(18%);
          transform: translateY(18%);
}

header nav ul a:nth-child(1) {
  z-index: 1;
  width: 18%;
  height: 6vw;
  min-height: 50px;
  left: 0;
}

header nav ul a:nth-child(2) {
  z-index: 2;
  left: 15%;
  font-size: 1.2em;
}

header nav ul a:nth-child(3) {
  z-index: 2;
  right: 15%;
  font-size: 1.2em;
}

header nav ul a:nth-child(4) {
  z-index: 1;
  width: 18%;
  height: 6vw;
  min-height: 50px;
  right: 0;
}

header nav ul a:hover {
  background-color: #b71c1c;
}

header div.logo {
  background-color: silver;
  width: 30%;
  z-index: 3;
  height: 10vw;
  min-height: 80px;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header div.logo div {
  background-color: #1f1f1f;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 94%;
  height: 94%;
  top: 3%;
  left: 3%;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  top: 0;
  overflow: hidden;
}

header div.logo div h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3.4em;
  -webkit-transition: top 0.6s cubic-bezier(0.48, -0.25, 0.57, 1.35);
  transition: top 0.6s cubic-bezier(0.48, -0.25, 0.57, 1.35);
}

header div.logo div img {
  position: absolute;
  top: -150%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: top 0.6s cubic-bezier(0.48, -0.25, 0.57, 1.35);
  transition: top 0.6s cubic-bezier(0.48, -0.25, 0.57, 1.35);
  height: 7vw;
  width: 7vw;
}

header div.logo div:hover h1 {
  top: 180%;
}

header div.logo div:hover img {
  top: 50%;
}

header div.logo:hover {
  background-color: #b71c1c;
}

main {
  background: url("/Project/Webapp/assets/images/customSVG/hexagons.svg") fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 5px 10%;
  padding-top: 10vw;
}

main .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  margin-bottom: 20px;
  padding: 120px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  border-radius: 30px;
}

main .element {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  margin: 10px;
  margin-bottom: 20px;
  padding: 120px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
}

main .element div {
  margin: auto, 10px;
  max-width: 900px;
}

main .element h1 {
  font-size: 3em;
  min-width: 20%;
  margin-bottom: 12px;
}

main .element img {
  margin: 7px;
}

main .element:nth-child(even) h1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

main .element:nth-child(even) img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
/*# sourceMappingURL=main.css.map */